.row-prod{
    width: 100%;
    display: block;
    margin: 0 auto;
    .row{
        background-color: rgba($greylight, 0.1);
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 0;
        color: $greyText;
        font-size: $medium;
        p{
            margin: 0;
            text-align: center;
        }
        .row-name{
            flex-basis: 20%;
        }
        .row-quantity{
            flex-basis: 25%;
            font-family: $body;
            display: flex;
            justify-content: center;
            .quantity{
                background-color: white;
                border-radius: 14px;
                .operador{
                    padding: 0px;
                    color: $greylight;
                    background-color: transparent;
                    border-color: transparent;
                    .operador-icon{
                        padding-top: 5px;
                        padding-left: 3px;
                        padding-right: 3px;
                        font-size: 20px; 
                    }
                }
                .input-box-cantidad{
                    display: inline-block;
                    .input-cantidad{
                        border-color: transparent;
                        background-color: transparent;
                        color: $greyText;
                        text-align: center;
                        width: 20px;
                        margin: 0;
                        display: inline-block;
                        font-size: 1rem; 
                    }                
                }
            }  
        }
        .row-price{
            flex-basis: 15%;
            margin: 0;
        }
        .row-img{
            flex-basis: 20%;
            img{
                width: 80%;
                border-radius: 50%;
                display: block;
                margin: 0 auto;
            }
        }
        .row-removeItem{
            flex-basis: 10%;
            font-size: 1.2rem;
            &:hover, &:active{
                color: $red;
            }
        }
        &:hover{
            background-color: rgba($greylight, 0.2);
            color: $greydark;
        }
    }
}
@media screen and (min-width: 576px){
    .row-prod{
        .row{
            justify-content: space-evenly;
            .row-img{
                img{
                    width: 50%;
                }
            }
        }
    }
}
@media screen and (min-width: 768px){
    .row-prod{
        width: 80%;
        .row{
            .row-name{
                flex-basis: 20%;
            }
            .row-price{
                flex-basis: 20%;
            }
            .row-quantity{
                flex-basis: 25%;
                .quantity{
                    background-color: white;
                    border-radius: 14px;
                    .operador{
                        padding: 3px 6px;
                        .operador-icon{
                            padding-top: 0px;
                            line-height: 24px;
                            display: inline-flex; 
                            vertical-align: top;
                        }
                    }
                    .input-box-cantidad{
                        .input-cantidad{
                            text-align: center;
                            width: 40px; 
                            font-size: 1rem;
                        }         
                    }
                }
            }
            .row-img{
                flex-basis: 20%;
                img{
                    width: 40%;
                }
            }
            .row-removeItem{
                flex-basis: 15%;
            }
        }
    }
}
.total-compra{
    width: 250px;
    margin: 1.5rem auto;
    text-align: center;
    padding: 0;
    font-family: $subtitle;
    color: $greyText;
    border: 2px solid $greyText;
    border-radius: 10px;
    .total-compra-precio{
        margin: 0;
        padding: 0.5rem 0rem;
    }
}
.botones-compra{
    margin: 1rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .btn{
        flex-basis: 30%;
        margin: 0 0.5rem;
        height: 62px;
        font-family: $subtitle;
        font-size: $small;
        color: white;
        transition: all 0.2s;
        p{
            margin: 0;
        }
        &:hover{
            box-shadow: 0px 8px 10px -6px $greydark;
        }
    }
    .btn-continue{
        background-color: $greendark;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btn-endShop{
        background-color: rgb(59, 110, 165);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btn-vaciar{
        background-color: $red;
    }
}
@media screen and (min-width: 992px){
    .botones-compra{
        margin: 2rem 4rem;
        justify-content: center;
        .btn{
            flex-basis: 21%;
            margin: 0 2rem;
            font-size: 1rem;
        }
    }
}
.no-products{
    width: 80%;
    margin: 0 auto;
    .no-products-info{
        background-color: rgba($gris, 0.5);
        text-align: center;
        margin: 0;
        margin-top: 2rem;
        padding: 0.5rem 2rem;
        font-weight: 600;
    }
    .btn-products{
        width: 250px;
        display: block;
        margin: 2rem auto 6rem auto;
        padding: 0.5rem 2rem;
        background-color: $greendark;
        color: white;
        font-family: $subtitle;
        font-size: $large;
        span{
            display: inline-block;
            position: relative;
            transition: 0.3s;
            &:after{
                content: '\00bb';
                font-family: $body;
                font-weight: 600;
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.3s;
            }
        }
        &:hover{
            box-shadow: 0px 5px 10px $greyText;
            span{
                padding-right: 25px;
                &:after {
                    opacity: 1;
                    right: 0;
                }
            }
        }
    }
}
@media screen and (min-width: 768px){
    .no-products{
        .no-products-info{
            width: 500px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
//estilo de sweet alert
.swal2-title{
    font-family: $subtitle;
    font-size: 1.5rem;
    font-weight: 400;
}
.swal2-html-container{
    font-family: $secondary;
    font-weight: 400;
}
.swal2-confirm{
    margin-right: 1.2rem;
    font-family: $subtitle;
}
.swal2-cancel{
    margin-left: 1.2rem;
    font-family: $subtitle;
}
.swal2-popup{
    background-color: $greydark;
}
.swal2-shown{
    .swal2-styled{
        background-color: rgb(137, 162, 196);
    }
}